<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /dash_able/files/assets/scss/partials</title>
 </head>
 <body>
<h1>Index of /dash_able/files/assets/scss/partials</h1>
<ul><li><a href="/dash_able/files/assets/scss/"> Parent Directory</a></li>
<li><a href="_dark.scss"> _dark.scss</a></li>
<li><a href="_general.scss"> _general.scss</a></li>
<li><a href="_generic.scss"> _generic.scss</a></li>
<li><a href="_mixins.scss"> _mixins.scss</a></li>
<li><a href="_variables.scss"> _variables.scss</a></li>
<li><a href="menu/"> menu/</a></li>
<li><a href="other/"> other/</a></li>
<li><a href="pages/"> pages/</a></li>
<li><a href="responsive/"> responsive/</a></li>
<li><a href="tables/"> tables/</a></li>
<li><a href="theme-elements/"> theme-elements/</a></li>
<li><a href="widget-dashboard/"> widget-dashboard/</a></li>
</ul>
</body></html>
