body {
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 14px;
}

html,
body {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.cs-navbar-shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.cs-navbar .navbar-nav .nav-link {
	color: #333;
}

.cs-navbar .navbar-nav .nav-link {
	padding-left: 1rem;
	padding-right: 1rem;
}

.cs-cover-image {
	margin: 0;
	padding: 0;
	border: 0;
	min-height: 87vh;
	position: relative;
	background-size: cover;
	background-position: 50%;
}

.cs-cover-image:after,
.cs-cover-image:before {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	left: 0
	top: 0;
	content: "";
}

.cs-cover-image:before {
	z-index: 0 !important;
	background: rgba(0, 0, 0, 0.3);
}

.cs-bg-blue-spa {
	background: #44b1ca;
}